body {
  background-image: url(/obrazki/thunder2.jpg);

 background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  }
.round {
  border-radius: 20px;
  }

#viz {
position: relative;
}


.typeahead,
.tt-query,
.tt-hint {
  width: 370px;
  height: 30px;
  padding: 8px 6px;
  font-size: 18px;
  line-height: 30px;
  border: 2px solid #ccc;
  -webkit-border-radius: 8px;
     -moz-border-radius: 8px;
          border-radius: 8px;
  outline: none;
}

.typeahead {
  background-color: #fff;
}

.typeahead:focus {
  border: 2px solid #0097cf;
}
.tt-query {
  -webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);
     -moz-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);
          box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);
}

.tt-hint {
  color: #999
}

.tt-menu {
  width: 422px;
  margin: 12px 0;
  padding: 8px 0;
  background-color: #fff;
  border: 1px solid #ccc;
  border: 1px solid rgba(0, 0, 0, 0.2);
  -webkit-border-radius: 8px;
     -moz-border-radius: 8px;
          border-radius: 8px;
  -webkit-box-shadow: 0 5px 10px rgba(0,0,0,.2);
     -moz-box-shadow: 0 5px 10px rgba(0,0,0,.2);
          box-shadow: 0 5px 10px rgba(0,0,0,.2);
}

.tt-suggestion {
  padding: 3px 20px;
  font-size: 18px;
  line-height: 24px;
}

.tt-suggestion:hover {
  cursor: pointer;
  color: #fff;
  background-color: #0097cf;
}

.tt-suggestion.tt-cursor {
  color: #fff;
  background-color: #0097cf;

}

.tt-suggestion p {
  margin: 0;
}
.opis {
font-size: 1.2rem;
}

path:hover {
	fill: dimgrey;
	cursor: crosshair;
}

.bordergminy {
fill:none;
stroke: blue;
stroke-width: 0.2px;
vector-effect: non-scaling-stroke; 
pointer-events: none;
}

.borderpowiaty {
fill:none;
stroke: red;
stroke-width: 0.8px;
vector-effect: non-scaling-stroke; 
pointer-events: none;
}

#etykieta {
font-size: 1rem;
display:none;
position:absolute;
color:white;
padding: 0.5em 0.9em;
border-radius: 15px;
background-color:dimgrey;
top:100px;
left:50px;
pointer-events: none;
}

.hover#etykieta {
display:block;
}

#loading, #loading2{
display:none;
margin-top: 1.4em;
padding: .5em .8em;
font-size:1.4rem;
background-color: lightgrey;
border-radius: .6em;
}
#wrapper {
text-align:center;
}


@media (max-width: 575.98px)  { 
body {
background-attachment: scroll;
}
#wrapper {
padding-right:.7rem;
}
.kontener {
padding-left:.3rem;
padding-right:.3rem;
margin-left:0;
margin-right:0;
}
.kontener-text {
padding-left:.8rem;
padding-right:.8rem;
margin-left:0;
margin-right:0;
}
svg {
width:92vw;
height:88vh;
}
#etykieta {
font-size: .8rem;
top:90px;
left:20px;
}
h2 {
font-size: 1.6rem;
}
.opis {
font-size: 1rem;
}

.typeahead,
.tt-query,
.tt-hint {
  width:88vw;
  height: 30px;
  font-size: 1rem;
  padding: .3rem .2rem;
  }
.tt-menu {
  width: 88vw;
  margin: 12px 0;
  padding: 8px 0;
  }
.tt-suggestion {
	font-size: 1rem;
  padding: 3px 5px;
  }  
}
@media (min-width: 576px)  {
body {
background-attachment: scroll;
}
.kontener-text {
padding-left:1rem;
padding-right:1rem;
}
svg {
width:550px;
height:500px;
}
#etykieta {
top:90px;
left:20px;
}

}

@media (min-width: 768px)  {
body {
background-attachment: fixed;
}
.kontener-text {
padding-left:1.5rem;
padding-right:1.5rem;
}
svg {
width:650px;
height:600px;
}
}

@media (min-width: 992px)  {
.kontener-text {
padding-left:2rem;
padding-right:2rem;
}
svg {
width:850px;
height:600px;
}
}

@media (min-width: 1200px) {
svg {
width:900px;
height:640px;
}
#etykieta {
top:90px;
left:50px;
}


}

@media (min-width: 1600px) {
svg {
width:1200px;
height:640px;
}
.typeahead,
.tt-query,
.tt-hint {
  width: 400px;
  height: 30px;
  padding: 8px 12px;
  font-size: 22px;
  }

}